/*
colors
*/
.position {
  max-width: 1170px;
  margin: 0 auto;
}
.lato-bold {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
}
.lato-medium {
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
}
/*
fonts
*/
@font-face {
  font-family: 'Lato';
  src: local('../fonts/Lato Regular'), local('../fonts/Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff'), url('../fonts/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('../fonts/Lato Italic'), local('../fonts/Lato-Italic'), url('../fonts/latoitalic.woff2') format('woff2'), url('../fonts/latoitalic.woff') format('woff'), url('../fonts/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('../fonts/Lato Medium'), local('../fonts/Lato-Medium'), url('../fonts/latomedium.woff2') format('woff2'), url('../fonts/latomedium.woff') format('woff'), url('../fonts/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('../fonts/Lato Semibold'), local('../fonts/Lato-Semibold'), url('../fonts/latosemibold.woff2') format('woff2'), url('../fonts/latosemibold.woff') format('woff'), url('../fonts/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('../fonts/Lato Bold'), local('../fonts/Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff'), url('../fonts/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('../fonts/Lato Black'), local('../fonts/Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff'), url('../fonts/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.topline .topline-in {
  max-width: 1170px;
  margin: 0 auto;
  overflow: hidden;
}
.topline .topline-in a {
  vertical-align: middle;
  width: 44%;
  display: inline-block;
  margin-right: 63px;
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  color: #46b6e3;
  font-size: 1.31em;
  text-transform: uppercase;
  line-height: 1.56em;
}
.topline .topline-in a i {
  display: inline-block;
  float: left;
  background: url(../img/logo-pic.png) 0 0 no-repeat;
  margin-right: 8px;
  width: 94px;
  height: 115px;
}
.topline .topline-in .topline-location {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  color: #aaaaaa;
  font-size: 21px;
  margin-right: 33px;
}
.topline .topline-in .topline-location i {
  background: url(../img/location-pic.png) 0 0 no-repeat;
  display: inline-block;
  width: 33px;
  height: 48px;
  margin-right: 10px;
  float: left;
}
.topline .topline-in .topline-phone {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  color: #aaaaaa;
  font-size: 21px;
}
.topline .topline-in .topline-phone i {
  background: url(../img/phone-pic.png) 0 0 no-repeat;
  display: inline-block;
  width: 43px;
  height: 43px;
  float: left;
}
.topline .topline-in .topline-phone .hide-phone {
  font-size: 21px;
  display: none;
  float: right;
}
.topline .topline-in .topline-phone p {
  font-size: 16px;
  text-align: right;
}
.topline .topline-in .topline-phone p i {
  background: url(../img/arrow-small.png) 0 0 no-repeat;
  display: inline-block;
  float: right;
  width: 17px;
  height: 17px;
  position: relative;
  bottom: -2px;
  margin-left: 3px;
}
header {
  background-image: url(../img/bg-doctor-pic.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .nav-wrap {
  width: 100%;
  opacity: 0.75;
  background-color: rgba(255, 255, 255, 0.25);
}
header .nav-wrap nav {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 19px;
}
header .nav-wrap nav a {
  opacity: 1;
  display: inline-block;
  margin-right: 27px;
  text-align: center;
  padding: 19px 0;
  text-decoration: none;
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  color: #ffffff;
}
header .nav-wrap nav a:hover,
header .nav-wrap nav a:focus {
  color: #5baed0;
}
header .slider-wrap .slide,
header .slider-wrap button {
  text-align: center;
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  font-size: 29px;
}
