@import url('variables.less');


                              
.topline {                 										//topline
	.topline-in {
		.position;
		overflow: hidden;
		
		a {
			display: inline-block;
			vertical-align: middle;
			width: 44%;
			display: inline-block;
			margin-right: 63px;
			text-decoration: none;
			.lato-bold;
			color: @button-bg-color;
			font-size: 1.31em;
			text-transform: uppercase;
			line-height: 1.56em;
	
			i {
				display: inline-block;
				float: left;
				background: url(../img/logo-pic.png) 0 0 no-repeat;	
				margin-right: 8px;
				width: 94px;
				height: 115px;
			}
		}

		.topline-location {
			display: inline-block;
			vertical-align: middle;
			.lato-bold;
			color: @main-grey-color;
			font-size: 21px;
			margin-right: 33px;

			i {
				background: url(../img/location-pic.png) 0 0 no-repeat;	
				display: inline-block;
				width: 33px;
				height: 48px;
				margin-right: 10px;
				float: left;
			}
		}

		.topline-phone {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			.lato-bold;
			color: @main-grey-color;
			font-size: 21px;

			i {
				background: url(../img/phone-pic.png) 0 0 no-repeat;	
				display: inline-block;
				width: 43px;
				height: 43px;
				float: left;
			}

			.hide-phone {
				font-size: 21px;
				display: none;
				float: right;
			}

			p{
				font-size: 16px;
				text-align: right;

				i {
					background: url(../img/arrow-small.png) 0 0 no-repeat;	
					display: inline-block;
					float: right;
					width: 17px;
					height: 17px;
					position: relative;
					bottom: -2px;
					margin-left: 3px;
				}
			}
		}
	}
}

header {												//header
	background-image: url(../img/bg-doctor-pic.jpg);
    background-position: center center;
    background-size: cover;  
	background-repeat: no-repeat;
	
	.nav-wrap {
		width: 100%;
		opacity: 0.75;
		background-color: rgba(255, 255, 255, 0.25);

		nav {
			.position;
			padding-left: 19px;

			a {
				opacity: 1;
				display: inline-block;				
				margin-right: 27px;
				text-align: center;
				padding: 19px 0;
				text-decoration: none;
				.lato-medium;
				font-size: 21px;
				color: @main-color-white;

				&:hover,
				&:focus {
					color: @hover-nav-a;
				}
			}
		}
	}

	.slider-wrap {
		.slide,
		button {
			text-align: center;
			.lato-bold;
			color: @main-color-white;
			font-size: 29px;
		}
	}
}